img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 .1em .5em rgba(0, 0, 0, .25)inset;
}

figure {
  max-width: 20em;
  height: auto;
  border: 1em solid #e498b1;
  margin-left: 0;
  margin-right: 0;
  background: #e498b1;
  box-shadow: 0 .2em .5em rgba(0, 0, 0, .25);
}


h3 {
  font-weight: bold;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 1.8em;
  color: #fff;
  font-family: "TrebuchetMS", sans-serif;
  line-height: 1.8em;
  max-width: 22em;
}

li{
  list-style: none;
}
h2 {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #c64586;
  margin-top: 2em;
}

p {
  font-family: "TrebuchetMS", sans-serif;
  line-height: 1.8em;
  max-width: 22em;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 2em;
  font-weight: normal;
  color: #e498b1;
  background: #eedee0;
  padding:  2em 3em 2em 3em;
  margin-left: 0;
  margin-top: -1em;
  transition: background 1s ease-in-out;
}

body {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 background: #fff;
 transition: background 1s ease-in-out;
}

@media (min-width: 35em) {

ul {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}




}

@media (min-width: 60em) {

  img {
    margin-left: 0;

  }

ul {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #eedee0;
  width: 100%;
}

h2 {
  color: #c64586;
  /*font-weight: normal;*/
}

h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .5em;
  font-size: 2em;
  color: #eed5da;
  font-family: "TrebuchetMS", sans-serif;
  line-height: 1.8em;
  max-width: 22em;
}

.story {
  color: #000;
}

.row-col {
  float: left;
		width: 50%;
}

h1 {
  background-color: #fff;
  padding: 3em 3em 3em 3em;
  margin-bottom: 0;
  margin-top: -1em;
  text-align: left;
}

}

@media (min-width: 90em) {

  img {
    margin-left: 0;

  }

ul {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #eedee0;
  width: 100%;
}

h2 {
  color: #c64586;
  /*font-weight: normal;*/
}

h3{
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0;
  margin-left: .5em;
  font-size: 2em;
  color: #eed5da;
  font-family: "TrebuchetMS", sans-serif;
  line-height: 1.8em;
}

.story {
  color: #000;
}

.row-col {
  float: left;
		width: 33.33%;
}

h1 {
  background-color: #fff;
  padding: 3em 3em 3em 3em;
  margin-bottom: 0;
  margin-top: -1em;
  text-align: left;
}

}
